.activity-main {
  height:100vh;
}

.activity-section {
  // height: 100%;
  // background-image: url("../../public/bgIMG.jpg");
  background-position: center;
  padding: 2rem;
}

@mixin activity-info{
  padding: 1rem;
  border-radius: 30px;
  background-color: rgba(250, 169, 190, 0.5);
  width:50%;
  position: absolute;
  box-shadow: 10px 10px 100px rgb(27, 1, 4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity-info-left {
  @include activity-info();
  left: 3rem;
  animation-name: slide-ltr;
  animation-duration: 0.8s;
  animation-direction: normal;
  
}

.activity-info-right {
  @include activity-info();
  right: 3rem;
  animation-name: slide-rtl;
  animation-duration: 0.8s;
  animation-direction: normal;
  
}

@keyframes slide-ltr {
  0% {
    opacity: 0.0;
    left: -20%;
  }
  100% {
    opacity: 1.0;
    left: 3rem;
  }
}

@keyframes slide-rtl {
  0% {
    opacity: 0.0;
    right: -20%;
  }
  100% {
    opacity: 1.0;
    right: 3rem;
  }
}