.activity-main {
  height:100vh;
}

.activity-section {
  height: 100%;
  background-image: url("../../public/bgIMG.jpg");
  background-position: center;
}

.activity-info {
  margin: 2rem;
  height: 100%;
  border-radius: 30px;
  background-color: rgba(250, 169, 190, 0.5);
  width:50%;
  // transform:  skew(15deg) ;
  position: absolute;
  left: 3rem;
  animation-name: slide;
  animation-duration: 1s;
  animation-direction: normal;
  box-shadow: 10px 10px 100px rgb(27, 1, 4);
  ul{
    // transform:skew(-15deg);
    list-style-type:lower-roman;
    margin: 1rem 1rem 0 5rem;
    font-size: 2rem;
    font-family: Goudy Old Style;
    text-shadow: 1px 0 rgb(27, 1, 4);
    // font-weight:500;
    li {
      margin: 1rem 0;
      overflow-wrap: break-word;
    }
  }
}

@keyframes slide {
  0% {
    left: -100%;
  }
  100% {
    left: 3rem;
  }
}